<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--OpenGraph : 미리보기 이미지나 그 링크에 대한 설명, 제목을 표시하기 위한 태그-->
    <meta name="description" content="FLY your STYLE! 스타일날다">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FLY your STYLE :: 스타일날다">
    <meta property="og:description" content="FLY your STYLE! 스타일날다">
    <meta property="og:image" content="../fly-style-logo.png">
    <title>스타일날다 | FLY your STYLE</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="32x32" href="../fly-style-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order-complete.css" />
    <link rel="stylesheet" href="../header.css" />
    <script src="order-complete.js" type="module" defer></script>
</head>

  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="main-content">
          <div class="title">주문이 완료되었습니다. </div>
          <div class="buttons are-medium">
            <div class="order-check-box">
              <button class="button is-link is-outlined" onclick="location.href='/myPage/orderList'" id="order-list">
                <h1>주문내역 확인</h1>
              </button>
            </div>
            <div class="go-shopping-box">
              <button class="button is-link is-outlined" onclick="location.href='/'" id="user-list">
                <h1>쇼핑 계속하기</h1>
              </button>
            </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->

  </section>
</body>
</html>