<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <!-- bulma css 관련 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="product-list.css" />
  <script src="product-list.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <div class="tabs is-centered">
    <ul class="header-category-list">
      <!-- 카테고리 -->
    </ul>
  </div>
  <main>
    <!-- 제품 목록 리스트 -->
    <section class="section">
      <!-- product-list.js / productSection -->
    </section>
  </main>

  <!-- 제품 목록 리스트 -->
  <div class="temp">
    <section class="section">
      <!-- product-list.js / productSection -->
    </section>

    <!-- 페이지네이션 -->
    <div id="pagination">
      <ul>
        <tr class="pagination">
        </tr>
      </ul>
    </div>
  </div>

  </main>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    contributed by Team-5 @elice <br>
    all rights reserved
  </div>
  <button class="scroll-top" id="scroll-btn">TOP</button>
</body>

</html>