<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--OpenGraph : 미리보기 이미지나 그 링크에 대한 설명, 제목을 표시하기 위한 태그-->
  <meta name="description" content="FLY your STYLE! 스타일날다">
  <meta property="og:type" content="website">
  <meta property="og:title" content="FLY your STYLE :: 스타일날다">
  <meta property="og:description" content="FLY your STYLE! 스타일날다">
  <meta property="og:image" content="../fly-style-logo.png">
  <title>스타일날다 | FLY your STYLE</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="32x32" href="../fly-style-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="user-order-list.css" />
  <script src="user-order-list.js" type="module" defer></script>
  <!-- Link Swiper's CSS -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>


  <!-- Hero head: will stick at the top -->
  <section class="hero is-success is-fullheight" id="headerParent">



    <!-- Hero content: will be in the middle -->
    <main>
      <div class="title">주문 목록</div>
      <hr />
      <table class="table is-hoverable" id="mainTable">
        <colgroup>
          <col width="15%">
          <col width="30%">
          <col width="10%">
          <col width="15%">
          <col width="15%">
        </colgroup>
        <thead>
          <tr>
            <th>주문 날짜</th>
            <th>구매 상품</th>
            <th>개수</th>
            <th>배송상태</th>
            <th>취소하기</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="6"></th>
          </tr>
        </tfoot>
        <tbody>
          <!-- 테이블 내용 정리 -->
        </tbody>
      </table>
    </main>


  </section>
  <!-- Hero footer: will stick at the bottom -->

  <!-- <script>
    function deleteRow(o) {
      swal({
        title: "해당 주문 내역을 삭제하시겠습니까?",
        text: "삭제하면 복구할 수 없습니다!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            swal("삭제 완료되었습니다.", {
              icon: "success",
            });
            let i = o.parentNode.parentNode.rowIndex;
            document.querySelector('#mainTable').deleteRow(i);
          } else {
            swal("Good!");
          }
        });

    }
    </script> -->
</body>

</html>