<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <meta charset="utf-8" />

        <title>쇼핑-데모</title>
        <!-- 아이콘 -->
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
          defer
          src="https://kit.fontawesome.com/7630448495.js"
          crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="product_detail.css">
        <script src="./product_detail.js"></script>
      </head>


<body>
    <header>
        <nav>
            <div>
                <li>계정관리</li>
                <li>로그아웃</li>
                <li>카트</li>
            </div>
        </nav>
    </header>
    
    <main>
        <div>
            <img src="skirt.jpg" alt="스커트 제품사진(테스트)">

        </div>
    </main>

    <footer></footer>
</body>
</html>