<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="register.css" />
    <script src="register.js" type="module" defer></script>
    <!-- 모달 -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- 이메일 자동완성 -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function autoEmail(a,b){
            /*
                a : input의 ID
                b : 입력되는 input의 값
            */
            var mailId = b.split('@'); // 메일계정의 ID만 받아와서 처리하기 위함
            var mailList = ['naver.com','gmail.com','daum.net','hanmail.net','korea.kr']; // 메일목록
            var availableCity = new Array; // 자동완성 키워드 리스트
            for(var i=0; i < mailList.length; i++ ){
                availableCity.push( mailId[0] +'@'+ mailList[i] ); // 입력되는 텍스트와 메일목록을 조합
            }
            $("#"+a).autocomplete({
                source: availableCity, // jQuery 자동완성에 목록을 넣어줌
                focus: function(event, ui) {
                    return false;
                }
            });
        }
    </script>
  </head>
  <body>
    <!-- 헤더 -->
    
    <!-- 회원가입 폼(Form) -->
    <div class="register-user-form-container">
      <form class="box register-user-form-box" id="registerUserForm">
        <p class="title is-5 has-text-primary">회원가입</p>
        <div class="field">
          <label class="label" for="fullNameInput">이름</label>
          <div class="control">
            <input
              class="input"
              id="fullNameInput"
              type="text"
              placeholder="유재석"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="emailInput">이메일</label>
          <div class="control">
            <input
              class="input"
              id="emailInput"
              type="email"
              placeholder="abc@example.com"
              autocomplete="on"
              onkeyup="autoEmail('emailInput',this.value)"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="passwordInput">비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordConfirmInput">비밀번호 확인</label>
          <div class="control">
            <input
              class="input"
              id="passwordConfirmInput"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <button class="button is-primary is-fullwidth" id="submitButton">
          회원가입하기
        </button>
      </form>
    </div>
  </body>
  

</html>
