html, body{
  margin: 0;
  height: 100vh;
  min-height: -webkit-fill-available;
  font-family: 'NEXON Lv1 Gothic OTF';
}

.navbar{
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

.navbar-menu{
  margin: 1rem;
}

.navbar-item{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navbar-item img{
  max-height: 4rem;
}

#login_status:hover{
  background-color: #fff;
  cursor: default;
}

.hero.is-success {
  background-color: #fff;
  color: black;
}

.hero.is-success .navbar-link.is-active, .hero.is-success .navbar-link:hover, .hero.is-success a.navbar-item.is-active, .hero.is-success a.navbar-item:hover {
  background-color: #e2e2e2;
  color: black;
}

.hero{
  justify-content: space-evenly;
}


.hero-body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  
}


