<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <meta charset="utf-8" />

        <title>쇼핑-데모</title>
        <!-- 아이콘 -->
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
          defer
          src="https://kit.fontawesome.com/7630448495.js"
          crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="order.css">
        <script src="./order.js" type="module" defer></script>
      </head>

<body>
    <div id="contentWrap">
<!-- 헤더 -->
        <div class="hero-head">
            <header class="navbar">
              <div class="container">
                <div class="navbar-brand">
                  <a class="navbar-item">
                    <img src="../fly-style-logo.png" alt="logo"/>
                  </a>
                  <span class="navbar-burger" data-target="navbarMenuHeroC">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </div>
                <div id="navbarMenuHeroC" class="navbar-menu">
                  <div class="navbar-end">
                    <a class="navbar-item">
                      <span class="icon">
                        <i class="fas fa-cart-shopping">　</i>
                      </span>
                       cart
                    </a>
                    <a class="navbar-item">
                        <span>login</span>
                      </a>
                  </div>
                </div>
              </div>
            </header>
          </div>
    
<!-- 메인 -->
        <main>
          <!-- 상단 주문결제 프로세스 표시 -->
          <section class="hero" id="showOrderProcess">
            <div class="hero-body">
              <p class="title is-5">
                장바구니&nbsp;&nbsp;&nbsp;>
              </p>
              <p class="title is-3">
                &nbsp;&nbsp;&nbsp;주문결제
                <p class="title is-5">
                  &nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;주문완료
                </p>
              </p>

            </div>
          </section>

          <!-- 배송지 정보란 -->
          <div id="orderInfo">
            <div class="box" id="addressInfodiv">
              <h1 class="subtitle is-5">배송지 정보</h1>
              
              <!-- 이름 div / id : orderName-->
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="orderName">이름</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input is-info" id="orderName" type="text"
                        placeholder="받는 분 이름을 입력해 주세요."
                      />
                    </p>
                  </div>
                </div>
              </div>

              <!-- 연락처 div / id : orderPhoneNumber-->
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="orderPhoneNumber">연락처</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input is-info" id="orderPhoneNumber" type="number"
                        placeholder="- 없이 입력해 주세요."
                      />
                    </p>
                  </div>
                </div>
              </div>

              <!-- 주소 div / id : orderAddress-->
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="orderAddress">주소</label>
                </div>
                <div class="field-body search">
                  <div class="field">
                    <p class="control">
                      <input class="input is-info" id="zoneCode" type="text"
                        placeholder="우편번호"/>
                    </p>
                  </div>
                  <div>
                    <!-- 주소찾기 버튼 id : searchAddressButton -->
                    <button class="button is-light is-hovered" id="searchAddressButton">
                      주소찾기
                    </button>
                  </div>
                </div>
              </div>
                <!-- 상세주소 입력 div / id : addressDetail -->
              <div class="field is-horizontal">
                <div class="field-label is-normal no-label"></div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input is-info" id="orderAddress" type="text" 
                        placeholder="주소찾기를 클릭해주세요."/>
                    </p>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal no-label"></div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input is-info" id="addressDetail" type="text" 
                        placeholder="상세주소를 입력해주세요."/>
                    </p>
                  </div>
                </div>
              </div>

              <!-- 요청사항 div / id : orderRequest -->
              <div class="field is-horizontal custom-request" id="orderRequestdiv">
                <div class="field-label is-normal">
                  <label class="label" for="orderRequest">요청사항</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input is-info" id="orderRequest" type="text" maxlength="50"
                        placeholder="배송 시 요청사항을 입력하세요 (최대 50자)"
                      />
                    </p>
                  </div>
                </div>
              </div>
            </div>



            <!-- 결제 정보란 -->
            <div class="box" id="orderInfodiv">
              <h2 class="subtitle is-6">결제 정보</h2>
              <div class="orderInfo">
                <div class="info">
                  <p class="title is-5">주문상품</p>
                  <p class="products-title" id="productName">베이지 랩 스커트 / 1개</p>
                </div>

                <div class="info">
                  <p class="title is-5">상품총액</p>
                  <p id="PriceTotal">30,000원</p>
                </div>
                <div class="info">
                  <p class="title is-5">배송비</p>
                  <p id="deliveryFee">3,000원</p>
                </div>
              </div>
              <div class="total">
                <p class="title is-5">총 결제금액</p>
                <p class="total-price" id="orderPriceTotal">33,000원</p>
              </div>
              <div class="buy">
                <button class="button is-info" id="buyButton">
                  결제하기
                </button>
              </div>
            </div>

          </div>

          
        </main>

        <div id="float-clear">
          <footer>
            <div class="hero-foot">
              contributed by Team-5 @elice <br>
              all rights reserved
            </div>
          </footer>
        </div>
    </div>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  //다음 주소 API 구현
  //이걸 js파일에 따로빼는 방법도 있을까? 그렇다면 data전체를 넘겨줄수 있어서 편할거같기도하다
    window.onload = function(){
    document.getElementById("searchAddressButton").addEventListener("click", function(){ //주소입력칸을 클릭하면
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("zoneCode").value = data.zonecode; // 주소 넣기
                document.getElementById("orderAddress").value = data.address; // 주소 넣기
                document.querySelector("#addressDetail").focus(); //상세입력 포커싱
            }
        }).open();
    });
}
</script>
</html>