html, body{
  margin: 0;
height: 100vh;
  min-height: -webkit-fill-available;
  font-family: 'NEXON Lv1 Gothic OTF';
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}
