<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--OpenGraph : 미리보기 이미지나 그 링크에 대한 설명, 제목을 표시하기 위한 태그--> 
    <meta name="description" content="FLY your STYLE! 스타일날다">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FLY your STYLE :: 스타일날다">
    <meta property="og:description" content="FLY your STYLE! 스타일날다">
    <meta property="og:image" content="../fly-style-logo.png">
    <title>스타일날다 | FLY your STYLE</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../fly-style-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>


  <body>
    <section class="hero is-success is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" id="logo">
                <img src="../fly-style-logo.png" alt="logo"/>
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item">
                  <span class="icon">
                    <i class="fas fa-cart-shopping">　</i>
                  </span>
                   cart
                </a>
                <a class="navbar-item">
                    <span>login</span>
                  </a>
              </div>
            </div>
          </div>
        </header>
      </div>

      <div class="tabs is-centered">
        <ul>
          <li><a>TOP</a></li>
          <li><a>BOTTOM</a></li>
          <li><a>SHOES</a></li>
          <li><a>ACC</a></li>
        </ul>
      </div>
    
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
          <div class="main-content">
            <div class="slide-container">
              <!--프로모션 이미지 슬라이더-->
              <ul class="slider">
                  <li class="item">첫번째 이미지</li>
                  <li class="item">두번째 이미지</li>
                  <li class="item">세번째 이미지</li>
              </ul>
          </div>
          <div class="btn">
              <a class="prev" style="text-decoration: none;">
                <img src="../arrow-left.png"/>
              </a>
              <a class="next" style="text-decoration: none;">
                <img src="../arrow-right.png"/>
              </a>
          </div>
      </div>
      <script src="slide.js"></script>
          <div class="new-arrival">
            NEW ARRIVAL
            <div class="columns">
              <div class="column">
                First column
              </div>
              <div class="column">
                Second column
              </div>
              <div class="column">
                Third column
              </div>
              <div class="column">
                Fourth column
              </div>
            </div>
          </div>
          </p>
      </div>
    
      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        contributed by Team-5 @elice <br>
        all rights reserved
      </div>
    </section>

  </body>
  </html>