body{
    width: 100vw;
    height: 100vh;   
}

header {
    height: 25%;
    padding: 5%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

main{
    width: 100%;
    height: auto;
}