/* 페이지 상단 여백을 지우기 위함, 푸터 배치를 위함 */


html, body{
    height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    font-family: 'NEXON Lv1 Gothic OTF';
  }

body{
    display: flex;
    flex-direction: column;
}


/* 헤더 */

header{
  position: fixed;
  float: right;
  width: 100%;
  background-color:#d9f2f7;
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-bottom: 5px;
  z-index: 10;
}


/* 상단 메뉴바 구역 */

.navbar{
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
  
.navbar-menu{
  margin: 1rem;
}
  
.navbar-item{
  text-align: center;
  align-items: center;
  justify-content: center;
}
  
.navbar-item img{
  max-height: 4rem;
}
  
.hero.is-success {
  background-color: #fff;
  color: black;
}
  
.hero.is-success .navbar-link.is-active, .hero.is-success .navbar-link:hover, .hero.is-success a.navbar-item.is-active, .hero.is-success a.navbar-item:hover {
  background-color: #e2e2e2;
  color: black;
}
 
.hero{
  justify-content: space-evenly;
}
  
  
.hero-body{
  display: flex;
  padding-top: 0;
  align-items: center;
  justify-content: center;  
}


/* 바디 */

div#userInfodiv{
    padding: 5%;
    margin-bottom: 5%;
    border-bottom: 3px solid #e2e2e2;
}
#myPageOrder{
    width: 100%;
    height: 30vh;
    margin-bottom: 50px;

} 
#receipt{
    font-size: 2em;
}
.container{
    height: 100%;
}
#myPageTitle{
    padding-top: 1rem;
    width: 100%;
    height: 10%;
    margin-top: 50px;
    border-bottom:3px solid #e2e2e2;
}
.title.is-4, .title.is-6{
  display: inline;
}
#userName{
  margin-bottom: 2%;
}