<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>쇼핑-데모</title>
        <!-- 아이콘 -->
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
          defer
          src="https://kit.fontawesome.com/7630448495.js"
          crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="my-page.css">
        <script src="./order.js" defer></script>
      </head>
<body>
    <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="../fly-style-logo.png" alt="logo"/>
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                   cart
                </a>
                <a class="navbar-item">
                    <span>login</span>
                  </a>
              </div>
            </div>
          </div>
        </header>
      </div>
<!-- 회원정보 -->
    <section class="section">
        <div class="container">
            <div id="myPageTitle">
                <h1 class="title">마이페이지</h1>
            </div>

            <div id="userInfodiv">
              <div id="userName">
                  <p>회원 이름</p>
              </div>
              <div id="userEmail">
                  <p>abc@example.com</p>
              </div>

          </div>

          <div class="menuContainer">
            <!-- 주문조회 -->
            <a class="myOrderList" href="">
            <button class="button is-info is-light" id="myPageOrder">
                <p class="title is-3">
                    <i class="fa-solid fa-receipt" id="receipts"></i>
                    주문내역조회</p>
            </button>
         </a>

            <!-- 회원정보 관리 -->

            <a class="myInfo" href="">
                <button class="button is-info is-light" id="myPageOrder">
                  
                <p class="title is-3">
                    <i class="fa-solid fa-user-gear"></i>
                    회원정보관리</p>
            </button>
            </a>
  
          </div>
        </div>
      </section>
</body>

</html>